.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.column {
    width: 100px;
    height: 300px;
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column-reverse;
}

.square {
    width: 80px;
    height: 20px;
    margin: 5px;
}
