body {
    background-color: rgb(221, 193, 167);
}

h1, div {
    font-family: 'Righteous', sans-serif;
    line-height: 5vh;
}

h1 {
    color: rgb(91, 79, 71);
    font-size: 10vh;
    text-align: center;
}

div {
    color: rgb(67, 56, 49);
    width: 26vw;
    margin-left: 5vw;
    margin-top: 12vh;
    text-align: center;
}

p {
    font-size: 3vh;
    margin-bottom: 20px;
}

#undo{
    font-size: 2.5vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    position: absolute;
    top: 19vh;
    left: 29vw; /* Adjust the left position as needed */
    width: 70vw; /* Adjust the width as needed */
    height: 80vh;
    /*outline: 2px solid rgb(95, 34, 209);*/
    margin-left: 0.5vw;
}

#shelf1, #shelf2, #shelf3 {
    fill: rgb(116, 94, 77);
}

#shelf1a, #shelf2a, #shelf3a {
    fill: rgb(161, 122, 96);
}

#book {
    fill: rgb(100, 8, 153);
    stroke: black;
    stroke-width: 2;
}